@import "./layout";

html {
  background-color: #f3f3f3;
}

#__nuxt {
  overflow-x: hidden;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.layout {
  width: 100%;
  min-height: 100vh;
  padding: 0 2rem;
  box-sizing: border-box;

  @media (min-width: $lg) {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 4px 3px rgb(0 0 0 / 5%);
  }
}

@mixin full {
  margin-left: -2rem;
  margin-right: -2rem;
}

@mixin full-space {
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  height: 7rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #63a7ea;
  @include full;
  @include full-space;

  .header-title {

    .title {
      font-size: 2.2rem;
      color: #ffffff;
      font-weight: bold;
    }

    p {
      color: #ffffff;
      font-size: 1.2rem;
    }
  }

  .menu {
    i {
      color: #fff;
      font-size: 2rem;
    }

    @media (min-width: $lg) {
      display: none !important;
    }
  }
}

.body {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 2rem;
  height: auto;
  @include ho();

  .main {
    width: 100%;
    transition: all .3s cubic-bezier(.2,.56,.5,.86);
    transform-origin: top;

    @media (min-width: $lg) {
      width: 70%;
    }
  }

  .main-open {
    transform: scale(0);
  }

  .main-close {
    transform: scale(1);
  }

  .sidebar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    box-sizing: border-box;
    transition: right .3s cubic-bezier(.2,.56,.5,.86);
    background-color: #f3f3f3;

    @media (min-width: $lg) {
      position: static;
      width: 30%;
      display: block;
      padding: 0;
      margin-left: 4rem;
    }
  }

  .sidebar-open {
    right: 0;
  }

  .sidebar-close {
    right: calc(-100% - 2rem);
  }
}

.search {
  position: relative;
  width: 100%;
  height: 100%;

  input {
    outline: none;
    padding: .6rem 2rem .6rem 1rem;
    color: #666666;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px #ffffff solid;
    border-radius: .2rem;
    font-size: 1.4rem;
  }

  .btn {
    height: 100%;
    position: absolute;
    right: 0;
    color: #888888;
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    padding-right: .4rem;
    cursor: pointer;
  }
}

.xs-search {
  display: block;
  height: 3rem;
  margin-bottom: 2rem;

  @media (min-width: $lg) {
    display: none;
  }
}

.lg-search {
  display: none;
  width: 17rem;
  height: 2.6rem;

  @media (min-width: $lg) {
    display: block;
  }
}

.main-title {
  width: 100%;
  height: 4rem;
  background-color: #8076a3;
  box-shadow: 3px 2px 4px 3px rgb(0 0 0 / 5%);
  border-radius: .4rem;
  line-height: 4rem;
  color: #ffffff;
  padding-left: 1.2rem;
  box-sizing: border-box;
  font-size: 1.8rem;
}

.list-hot, .list-1 {
  li {
    line-height: 4rem;
    font-size: 1.4rem;
    border-bottom: 1px #ddd solid;
    position: relative;
    box-sizing: border-box;
    color: #666666;
    cursor: pointer;

    a {
      color: #666666;
      display: inline-block;
      width: 100%;
    }
  }
}

.list-hot {
  li {
    padding-left: 3rem;

    &:after, &:before {
      position: absolute;
      left: 0;
    }

    &:before {
      position: absolute;
      top: 50%;
      content: "";
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin-top: -1rem;
      background-color: #938b8e;
    }

    &:after {
      content: attr(data-sort);
      color: #ffffff;
      width: 2rem;
      display: inline-block;
      text-align: center;
    }

    &:nth-child(1) {
      &:before {
        background-color: #f4a83a;
      }
    }

    &:nth-child(2) {
      &:before {
        background-color: #cdd1d3;
      }
    }

    &:nth-child(3) {
      &:before {
        background-color: #db8540;
      }
    }
  }
}

.list-1 {
  li {
    &:after {
      content: "▶";
      right: 0;
      position: absolute;
      color: #aaa;
      font-size: 1rem;
    }
  }
}

.list-2 {
  li + li {
    margin-top: 1rem;
  }

  li {
    a {
      height: 12rem;
      display: flex;
      background-color: #ffffff;
      padding: .6rem;
      border-radius: .6rem;
      box-shadow: 0 2px 6px #cccccc;
      cursor: pointer;

      &:hover {
        box-shadow: 2px 6px 6px #cccccc;
      }
      @media (min-width: $lg) {
        padding: 1.2rem;
      }
    }

    .left {
      img {
        width: 12rem;
        height: 12rem;
        object-fit: cover;

        @media (min-width: $lg) {
          width: 16rem;
        }
      }
    }

    .right {
      position: relative;
      margin-left: 1.6rem;
      width: 100%;

      .title,
      .description {
        word-break: break-all;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow-y: hidden;
        -webkit-line-clamp: 2;
      }

      .title {
        line-height: 2.4rem;
        font-size: 1.6rem;
        color: #666666;

        @media (min-width: $lg) {
          font-size: 1.8rem;
          -webkit-line-clamp: 1;
        }
      }

      .description {
        margin-top: .2rem;
        line-height: 1.9rem;
        font-size: 1.4rem;
        color: #999999;
        @media (min-width: $lg) {
          -webkit-line-clamp: 3;
          line-height: 2.2rem;
        }
      }

      .time {
        border-top: 1px #dddddd solid;
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: right;
        font-size: 1.2rem;
        color: #bbbbbb;

        i {
          color: #bbbbbb;
        }
      }
    }
  }
}

.article {
  background-color: #ffffff;
  padding: 1.2rem;
  border-radius: 0.6rem;
  box-shadow: 0 2px 6px #cccccc;

  .title {
    font-size: 2.4rem;
    color: #333333;
  }

  .head {
    font-size: 1.2rem;
    color: #999999;
    margin-top: .6rem;

    .create {
      margin-left: 1rem;
    }
  }

  .description {
    margin: 1rem 0;
    padding: 1.2rem;
    background-color: #f3f3f3;
    color: #555555;
    position: relative;
    font-size: 1.4rem;

    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: .2rem;
      top: 0;
      left: 0;
      background-color: #8076a3;
    }
  }

  .content {
    margin-top: 1rem;
  }
}

.no-result {
  font-size: 1.6rem;
  color: #666666;
}

.loading {
  color: #aaaaaa;
  font-size: 8rem;
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
