@import "./layout";

//$cMain: #EDEDF4;
//$cSlave: #8EA4CA;

// 主颜色
$cMain: #FAF8F4;
// 次颜色
$cSlave: #8BAF56;
// 标题文字颜色
$c666: #666666;
// 主内容文字颜色
$c999: #999999;
// 标注文字颜色
$cBbb: #bbbbbb;
$cCcc: #cccccc;
$cDdd: #dddddd;
$cEee: #eeeeee;
$cFff: #ffffff;

html {
  background-color: $cMain;
}

#__nuxt {
  overflow-x: hidden;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.layout {
  width: 100%;
  min-height: 100vh;
  padding: 0 2rem;
  box-sizing: border-box;

  @media (min-width: $lg) {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 4px 3px rgb(0 0 0 / 5%);
  }
}

@mixin full {
  margin-left: -2rem;
  margin-right: -2rem;
}

@mixin full-space {
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  height: 7rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $cSlave;
  @include full;
  @include full-space;

  .header-title {

    .title {
      font-size: 2.2rem;
      color: $cMain;
      font-weight: bold;
    }

    p {
      color: $cMain;
      font-size: 1.2rem;
    }
  }

  .menu {
    i {
      color: $cFff;
      font-size: 2rem;
    }

    .fa-close {
      display: none;
    }

    @media (min-width: $lg) {
      display: none !important;
    }
  }
}

.body {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 2rem;
  height: auto;
  @include ho();

  .main {
    width: 100%;
    transition: all .3s cubic-bezier(.2,.56,.5,.86);
    transform-origin: top;

    @media (min-width: $lg) {
      width: 69%;
    }
  }

  .main-open {
    transform: scale(0);
  }

  .main-close {
    transform: scale(1);
  }

  .sidebar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    box-sizing: border-box;
    transition: right .3s cubic-bezier(.2,.56,.5,.86);
    background-color: $cMain;

    @media (min-width: $lg) {
      position: static;
      width: 31%;
      display: block;
      padding: 0;
      margin-left: 3rem;
    }
  }

  .sidebar-open {
    right: 0;
  }

  .sidebar-close {
    right: calc(-100% - 2.2rem);
  }
}

.search {
  position: relative;
  width: 100%;
  height: 100%;

  input {
    outline: none;
    padding: .6rem 2rem .6rem 1rem;
    color: $c666;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px $cFff solid;
    border-radius: .2rem;
    font-size: 1.4rem;
  }

  .btn {
    height: 100%;
    position: absolute;
    right: 0;
    color: $c666;
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    padding-right: .4rem;
    cursor: pointer;
  }
}

.xs-search {
  display: block;
  height: 3rem;
  margin-bottom: 2rem;

  @media (min-width: $lg) {
    display: none;
  }
}

.lg-search {
  display: none;
  width: 17rem;
  height: 2.6rem;

  @media (min-width: $lg) {
    display: block;
  }
}

.main-title {
  width: 100%;
  height: 4rem;
  background-color: $cSlave;
  box-shadow: 3px 2px 4px 3px rgb(0 0 0 / 5%);
  border-radius: .4rem;
  line-height: 4rem;
  color: $cMain;
  padding-left: 1.2rem;
  box-sizing: border-box;
  font-size: 1.8rem;
}

.list-hot, .list-1 {
  li {
    line-height: 4rem;
    font-size: 1.4rem;
    border-bottom: 1px $cDdd solid;
    position: relative;
    box-sizing: border-box;
    color: $c666;
    cursor: pointer;

    a {
      color: $c666;
      display: inline-block;
      width: 100%;
      white-space: nowrap;
    }
  }
}

.list-hot {
  li {
    padding-left: 3rem;

    &:after, &:before {
      position: absolute;
      left: 0;
    }

    &:before {
      position: absolute;
      top: 50%;
      content: "";
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin-top: -1rem;
      background-color: #938b8e;
    }

    &:after {
      content: attr(data-sort);
      color: $cFff;
      width: 2rem;
      display: inline-block;
      text-align: center;
    }

    &:nth-child(1) {
      &:before {
        background-color: #f4a83a;
      }
    }

    &:nth-child(2) {
      &:before {
        background-color: #cdd1d3;
      }
    }

    &:nth-child(3) {
      &:before {
        background-color: #db8540;
      }
    }
  }
}

.list-2 {
  li + li {
    margin-top: 1rem;
  }

  li {
    a {
      height: 12rem;
      display: flex;
      background-color: $cMain;
      padding: .6rem;
      border-radius: .6rem;
      box-shadow: 0 2px 6px $cCcc;
      cursor: pointer;

      &:hover {
        box-shadow: 2px 6px 6px $cCcc;
      }
      @media (min-width: $lg) {
        padding: 1.2rem;
      }
    }

    .left {
      img {
        width: 12rem;
        height: 12rem;
        object-fit: cover;

        @media (min-width: $lg) {
          width: 16rem;
        }
      }
    }

    .right {
      position: relative;
      margin-left: 1.6rem;
      width: 100%;

      .title,
      .description {
        word-break: break-all;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow-y: hidden;
        -webkit-line-clamp: 2;
      }

      .title {
        line-height: 2.4rem;
        font-size: 1.6rem;
        color: $c666;

        @media (min-width: $lg) {
          font-size: 1.8rem;
          -webkit-line-clamp: 1;
        }
      }

      .description {
        margin-top: .2rem;
        line-height: 1.9rem;
        font-size: 1.4rem;
        color: $c999;
        @media (min-width: $lg) {
          -webkit-line-clamp: 3;
          line-height: 2.2rem;
        }
      }

      .time {
        border-top: 1px $cDdd solid;
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: right;
        font-size: 1.2rem;
        color: $cBbb;

        i {
          color: $cBbb;
        }
      }
    }
  }
}

.article {
  background-color: $cMain;
  padding: 1.2rem;
  border-radius: 0.6rem;
  box-shadow: 0 2px 6px $cCcc;

  .title {
    font-size: 2.4rem;
    color: $c666;
  }

  .head {
    font-size: 1.2rem;
    color: $c999;
    margin-top: .6rem;

    .create {
      margin-left: 1rem;
    }
  }

  .description {
    margin: 1rem 0;
    padding: 1.2rem;
    background-color: $cEee;
    color: $c666;
    position: relative;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;

    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: .2rem;
      top: 0;
      left: 0;
      background-color: $cSlave;
    }
  }

  .content {
    margin-top: 1rem;
  }
}

.no-result {
  font-size: 1.6rem;
  color: $c666;
}

.loading {
  color: $cBbb;
  font-size: 8rem;
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  li {
    padding-left: 1rem;
    box-sizing: border-box;
    line-height: 3rem;
    font-size: 1.4rem;
    border-bottom: 1px $cDdd solid;
    color: $c666;

    .link-title {
      display: inline-block;
      width: 30%;
      color: $cMain;
    }

    &:nth-child(1) {
      .link-title {
        color: $c666 !important;
      }
    }
  }
}

.list-hoc {
  span {
    color: $c666;
    font-size: 1.4rem;
    line-height: 20px;
    border-bottom: 1px $cDdd solid;
    display: block;
    padding: .8rem 0;
    cursor: pointer;
  }

  .h2 {
    padding-left: 2rem;
  }
}

.rich {
  margin-top: -10px !important;

  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: 46px;
    background-color: $cSlave;
    box-shadow: 3px 2px 4px 3px rgb(0 0 0 / 5%);
    border-radius: 4px;
    line-height: 46px;
    color: #ffffff;
    padding-left: 12px;
    box-sizing: border-box;
    font-size: 20px;
  }

  h2 {
    color: $c666;
    box-sizing: border-box;
    font-size: 18px;
    position: relative;
    padding-left: 10px;
    background-color: $cSlave;
    line-height: 39px;
    margin-top: 14px;
    margin-bottom: 8px;

    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 4px;
      border-radius: 2px;
      top: 0;
      left: 0;
      background-color: $cSlave;
    }
  }

  code {
    background-color: $cEee;
    color: $c666;
    border-radius: 2px;
    padding: 2px;
    border: 1px solid $cBbb;
  }

  pre {
    margin: 6px 0;
    padding: 10px;
    border-radius: 2px;
    overflow-x: auto;
    background-color: $cEee;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
    border: 1px solid $cBbb;

    code {
      background-color: transparent;
      padding: 0;
      line-height: 24px;
      border: none;
    }
  }

  img {
    width: 100%;
    margin: 6px 0;
    height: auto;
  }

  p {
    color: $c666;
    font-size: 15px;
    padding: 0 4px;
    line-height: 30px;
    letter-spacing: 1px;

    strong {
      color: #564b7e;
    }
  }

  span[style="text-decoration: underline"] {
    color: red;
  }

  table {
    margin: 10px 0;
    color: $c666;
    border: 1px solid $c666;
    font-size: 12px;
    border-collapse: collapse;

    thead {
      tr {
        background-color: $cBbb;
        font-weight: 700;
      }
    }

    tr {
      background-color: $cDdd;
      border-radius: 10px;

      &:nth-child(2n) {
        background-color: #e3e3e3;
      }
    }

    td {
      box-sizing: border-box;
      padding: 6px 8px;
    }
  }

  ol, ul {
    padding: 8px 8px 8px 26px;
    box-sizing: border-box;
    background-color: $cDdd;
    border-radius: 2px;
    border: 1px solid $cBbb;

    li {
      line-height: 22px;
      font-size: 13px;
    }
  }

  ul {
    li {
      list-style: disc !important;
    }
  }

  ol {
    li {
      list-style: decimal !important;
    }
  }

  a {
    color: $cSlave;
  }

}
