.palette {
  padding: .8rem .4rem;
  border-radius: .6rem;
  display: flex;

  .text {
    font-size: 1.4rem;
    color: #666666;
  }

  .uint {
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    margin-left: 1rem;
    cursor: pointer;

    .left,
    .right {
      width: .8rem;
      height: 1.6rem;
      border: 1px solid #aaaaaa;
    }

    .left {
      border-top-left-radius: 1.6rem;
      border-bottom-left-radius: 1.6rem;
      border-right: none;
    }

    .right {
      border-top-right-radius: 1.6rem;
      border-bottom-right-radius: 1.6rem;
      border-left: none;
    }
  }
}