.rich {
  margin-top: -1rem !important;

  h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 4rem;
    background-color: #8076a3;
    box-shadow: 3px 2px 4px 3px rgb(0 0 0 / 5%);
    border-radius: 0.4rem;
    line-height: 4rem;
    color: #ffffff;
    padding-left: 1.2rem;
    box-sizing: border-box;
    font-size: 1.8rem;
  }

  code {
    background-color: #e1ddf3;
    color: #8076a3;
    border-radius: .2rem;
    padding: .2rem;
  }

  pre {
    margin: .6rem 0;
    padding: 1rem;
    border-radius: .2rem;
    overflow-x: auto;
    background-color: #f3f3f3;
    position: relative;
    font-size: 1.4rem;

    code {
      background-color: transparent;
      color: #555555;
    }
  }

  img {
    max-width: 100%;
    margin: 1rem 0;
  }

  p {
    color: #555555;
    font-size: 1.2rem;
    padding-left: .2rem;
    margin-top: 1rem;

    strong {
      color: #564b7e;
    }
  }

  span[style="text-decoration: underline"] {
    color: red;
  }
}
