@import "media";

// 系统
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
}

@mixin ho {
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}

.mt1 {
  margin-top: 1rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt1 {
  margin-top: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--c-slave);
}
